<html>
<head>
  <style>
    p, h1, h2, h3, h4, ul, li, a, label {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #5e15a6;
      text-align: center;
    }
    .centered {
      text-align: center;
    }

  </style>
</head>
<body>
<h1>Welcome to my first sinatra application!</h1>
<h4><a href='/products'>See products</a></h4>
</body>
</html>